//************* Mobil -> 767px ****************

@media screen and (max-width: 767px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .customers-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 180px) / 6);
  }

  .customers-icone {
    width: 106px;
    height: 60px;
    fill: var(--accent-sixth-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .customers-list-link:hover &,
    .customers-list-link:focus & {
      fill: var(--accent-second-color);
    }
  }

  .customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 210px;
    height: 92px;
    border: 1px solid;
    border-radius: 4px;
    color: var(--accent-sixth-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-second-color);
    }
  }
}

//************* Tablet 768px -> ****************

@media screen and (min-width: 768px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .customers-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 180px) / 6);
  }

  .customers-icone {
    width: 106px;
    height: 60px;
    fill: var(--accent-sixth-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .customers-list-link:hover &,
    .customers-list-link:focus & {
      fill: var(--accent-second-color);
    }
  }

  .customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 92px;
    border: 1px solid;
    color: var(--accent-sixth-color);
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-second-color);
    }
  }
}

//************* Desctop -> 1600px ****************

@media screen and (min-width: 1200px) {
  .customers-list-link {
    width: 170px;
    height: 92px;
  }
}
// .customers-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: -30px;
//   margin-top: -30px;
// }

// .customers-item {
//   margin-left: 30px;
//   margin-top: 30px;
//   flex-basis: calc((100% - 180px) / 6);
// }

// .customers-icone {
//   width: 106px;
//   height: 60px;
//   fill: var(--accent-sixth-color);
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .customers-list-link:hover &,
//   .customers-list-link:focus & {
//     fill: var(--accent-second-color);
// }
// }

// .customers-list-link {
//   @extend %align;
//   height: 92px;
//   width: 170px;
//   border: 1px solid;
//   color: var(--accent-sixth-color);
//   border-radius: 4px;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//         color: var(--accent-second-color);
// }
// }
