//************* Mobil -> 767px ****************

@media screen and (max-width: 767px) {
  .gallery-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .gallery-list-img-wrapper {
    position: relative;
    overflow: hidden;
  }

  .gallery-img {
    width: 450px;
  }

  .gallery-list-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-family: var(--accent-first-font-family);
    @include font(400, 18px, 28px);
    letter-spacing: 0.03em;
    color: var(--accent-first-color);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    transform: translateY(100%);
    transition: transform 250ms linear;

    .gallery-item:hover &,
    .gallery-link:focus & {
      transform: translateY(0%);
    }
  }

  .gallery-subitem {
    flex-grow: 1;
    padding: 20px 24px;
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
  }


  .gallery-title {
    @include font(700, 18px, 36px);
    letter-spacing: 0.06em;
    color: var(--accent-fouhrt-color);
    margin-bottom: 4px;
  }

  .gallery-description {
    @include font(400, 16px, 30px);
    letter-spacing: 0.03em;
    color: var(--accent-third-color);
  }
}

//************* Tablet 768px -> ****************

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .gallery-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }

  .gallery-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  .gallery-list-img-wrapper {
    position: relative;
    overflow: hidden;
  }

  .gallery-img {
    width: 354px;
  }

  .gallery-list-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-family: var(--accent-first-font-family);
    @include font(400, 18px, 28px);
    letter-spacing: 0.03em;
    color: var(--accent-first-color);
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;

    transform: translateY(100%);
    transition: transform 250ms linear;

    .gallery-item:hover &,
    .gallery-link:focus & {
      transform: translateY(0%);
    }
  }

  .gallery-subitem {
    flex-grow: 1;
    padding: 20px 24px;
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
  }

  .gallery-title {
    @include font(700, 18px, 36px);
    letter-spacing: 0.06em;
    color: var(--accent-fouhrt-color);
    margin-bottom: 4px;
  }

  .gallery-description {
    @include font(400, 16px, 30px);
    letter-spacing: 0.03em;
    color: var(--accent-third-color);
  }
}

//************* Desctop 1200px -> ****************

@media screen and (min-width: 1200px) {
  .gallery-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}






// .gallery-title {
//    @include font(700, 18px, 36px);
//   letter-spacing: 0.06em;
//   color: var(--accent-fouhrt-color);
//   margin-bottom: 4px;
// }

// .gallery-description {
//    @include font(400, 16px, 30px);
//   letter-spacing: 0.03em;
//   color: var(--accent-third-color);
// }

// .gallery-list {
//   display: flex;
//   flex-wrap: wrap;
//   margin-top: -30px;
//   margin-left: -30px;
// }

// .gallery-subitem {
//   padding: 20px 24px;
//   border-left: 1px solid rgba(238, 238, 238, 1);
//   border-bottom: 1px solid rgba(238, 238, 238, 1);
//   border-right: 1px solid rgba(238, 238, 238, 1);
// }

// .gallery-item {
//   margin-top: 30px;
//   margin-left: 30px;
//   flex-basis: calc((100% - 90px) / 3);
// }

// .gallery-link {
//   display: block;
//   text-decoration: none;
//   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//     1px 4px 6px rgba(0, 0, 0, 0.16);
// }
// }

// .gallery-list-img-wrapper {
//   position: relative;
//   overflow: hidden;
// }

// .gallery-list-overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   padding: 63px 24px;
//   font-family: var(--accent-first-font-family);
//    @include font(400, 18px, 28px);
//   letter-spacing: 0.03em;
//   color: var(--accent-first-color);
//   background-color: rgba(33, 150, 243, 0.9);
//   overflow: auto;

//   transform: translateY(100%);
//   transition: transform 250ms linear;

//   .gallery-item:hover &,
//   .gallery-link:focus & {
//      transform: translateY(0%);
// }
// }
