@media screen and (max-width: 767px) {
// смотри в низу описание по скрытию окна!
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-first-color);
  overflow-y: scroll;

  // прячем окно "mobile-menu"
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}

// включаем окно "mobile-menu"
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  //@extend %align;
   display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 15px;
  padding: 0px;
  border: none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
}

.mobile-menu__close-btn:hover .mobile-menu__close-icon,
.mobile-menu__close-btn:focus .mobile-menu__close-icon {
  fill: var(--accent-second-color);
}

.mobil-navi__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobil-navi__link {
  @include font(500, 43px, 40px);
  letter-spacing: 0.02em;
  color: var(--accent-fouhrt-color);
}

.mobil-navi__current {
  color: var(--accent-second-color);
}

.mobil-contact__tel {
  @include font(500, 34px, 40px);
  letter-spacing: 0.02em;
  color: var(--accent-second-color);
}

.mobil-contact {
  margin-bottom: 64px;
}

.mobil-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobil-contact__mail {
  @include font(500, 24px, 28px);
  letter-spacing: 0.02em;
  color: var(--accent-third-color);
}

.mobil-social__list {
  display: flex;
}

.mobil-social__link {
  @include font(500, 18px, 22px);
  letter-spacing: 0.02em;
  color: var(--accent-second-color);
}

.mobil-social__item {
  margin-right: 20px;
}

.mobil-social__item:not(:first-child) {
  position: relative;
}

.mobil-social__link::before {
  content: '';
  position: absolute;
  display: block;
  top: 0px;
  left: -10px;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}
}

@media screen and (min-width: 768px) {
  .mobile-menu,
  .is-open {
    display: none;
  }
}

// Мобильное меню открывается по клику на кнопку "бургера". Для того чтобы скрипт сработал необходимо добавить в разметку специальные атрибуты, по которым скрипт ищет элементы:

// data-menu-open - на кнопку открытия мобильного меню(бургер)
// data-menu-close - на кнопку закрытия мобильного меню(крестик)
// data-menu - на мобильное меню
// После чего, перед закрывающим тегом body добавить тег script со ссылкой на файл скрипта для мобильного меню.

// <body>
//   <!-- Ставим перед закрывающим тегом body -->
//   <script src="./js/menu.js"></script>
// </body>
// Вот скрипт который необходимо скопировать и вставить в файл скрипта menu.js.

// (() => {
//   const refs = {
//     openMenuBtn: document.querySelector('[data-menu-open]'),
//     closeMenuBtn: document.querySelector('[data-menu-close]'),
//     menu: document.querySelector('[data-menu]'),
//   };
//   refs.openMenuBtn.addEventListener('click', toggleModal);
//   refs.closeMenuBtn.addEventListener('click', toggleModal);
//   function toggleModal() {
//     refs.menu.classList.toggle('is-open');
//   }
// })();
// Изначально мобильное меню должно быть скрыто, например с помощью:

// .mobile-menu {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }
// Мобильное меню открывается когда на него вешается клас is-open. Нужно описать еще этот клас, например:

// .mobile-menu.is-open {
//   opacity: 1;
//   visibility: visible;
//   pointer-events: auto;
// }
