.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-first-color);
}

.mobile-menu__container {
  padding: 48px  40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
}

.mobile-menu-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
}

.mobile-menu-open-btn {
  fill: var(--accent-fouhrt-color);
}

.mobil-navi {
  margin-bottom: 302px;
}

.mobil-navi__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobil-navi__link {
  @include font(500, 43px, 40px);
  letter-spacing: 0.02em;
  color: var(--accent-fouhrt-color);
}

.mobil-navi_current {
  color: var(--accent-second-color);
}

.mobil-contact__tel {
  @include font(500, 34px, 40px);
  letter-spacing: 0.02em;
  color: var(--accent-second-color);
}

.mobil-contact {
  margin-bottom: 64px;
}

.mobil-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobil-contact__mail {
  @include font(500, 24px, 28px);
  letter-spacing: 0.02em;
  color: var(--accent-third-color);
}

.mobil-social__list {
  display: flex;
  
}

.mobil-social__link {
  @include font(500, 18px, 22px);
  letter-spacing: 0.02em;
  color: var(--accent-second-color);
}

.mobil-social__item {
  margin-right: 20px;
}

.mobil-social__item:not(:first-child) {
  position: relative;
}

.mobil-social__link::before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: -10px;
  height: 100%;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);;
}
