//************* Mobil -> 1199px ****************

@media screen and (max-width: 1199px) {
  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-form-header {
    text-align: center;
    @include font(700, 20px, 30px);
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }

  .contact-form-field {
    margin-bottom: 10px;
  }

  .contact-form-field-textarea {
    margin-bottom: 20px;
  }

  .contact-form-field-key {
    display: block;
    @include font(400, 12px, 14px);
    letter-spacing: 0.01em;
    color: var(--accent-third-color);
    margin-bottom: 4px;
  }

  .contact-form-messege {
    display: block;
    @include font(400, 12px, 14px);
    letter-spacing: 0.01em;
  }

  .contact-form-input-wrapper {
    display: block;
    position: relative;
  }

  .contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: var(--accent-second-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form-input:focus + & {
      fill: var(--accent-second-color);
    }
  }

  .contact-form-messege {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    &:focus {
      outline: none;
      border-color: var(--accent-second-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .contackt-form-checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(400, 12px, 14px);
    letter-spacing: 0.03em;
    color: var(--accent-third-color);
    margin-bottom: 31px;

    &::before {
      display: block;
      content: '';
      width: 16px;
      height: 15px;
      border: 2px solid var(--accent-fouhrt-color);
      border-radius: 2px;
      margin-right: 8px;
      cursor: pointer;

      .contact-form-checkbox:checked + & {
        background-image: url(../images/form-checkbox/icon_check.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .contact-form-checkbox:focus + & {
        outline: solid 1px var(--accent-second-color);
        border: none;
      }
    }
  }

  .contackt-form-link {
    color: var(--accent-second-color);
  }

  .contackt-form-btn {
    padding: 10px 32px;
    min-width: 200px;
    @include font(700, 16px, 30px);
    letter-spacing: 0.06em;
    align-self: center;
    cursor: pointer;
    background: var(--accent-second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--accent-first-color);
    border: transparent;

    &:hover,
    &:focus {
      background-color: #188ce8;
      color: var(--accent-first-color);
    }
  }
}

//************* Desctop 1200px -> ****************

@media screen and (min-width: 1200px) {
  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-form-header {
    text-align: center;
    @include font(700, 20px, 23px);
    letter-spacing: 0.03em;
    margin-bottom: 12px;
  }

  .contact-form-field {
    margin-bottom: 10px;
  }

  .contact-form-field-textarea {
    margin-bottom: 20px;
  }

  .contact-form-field-key {
    display: block;
    @include font(400, 12px, 14px);
    letter-spacing: 0.01em;
    color: var(--accent-third-color);
    margin-bottom: 4px;
  }

  .contact-form-messege {
    display: block;
    @include font(400, 12px, 14px);
    letter-spacing: 0.01em;
  }

  .contact-form-input-wrapper {
    display: block;
    position: relative;
  }

  .contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: var(--accent-second-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-form-input:focus + & {
      fill: var(--accent-second-color);
    }
  }

  .contact-form-messege {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    &:focus {
      outline: none;
      border-color: var(--accent-second-color);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .contackt-form-checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    @include font(400, 14px, 24px);
    letter-spacing: 0.03em;
    color: var(--accent-third-color);
    margin-bottom: 30px;

    &::before {
      display: block;
      content: '';
      width: 16px;
      height: 15px;
      border: 2px solid var(--accent-fouhrt-color);
      border-radius: 2px;
      margin-right: 8px;
      cursor: pointer;

      .contact-form-checkbox:checked + & {
        background-image: url(../images/form-checkbox/icon_check.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .contact-form-checkbox:focus + & {
        outline: solid 1px var(--accent-second-color);
        border: none;
      }
    }
  }

  .contackt-form-link {
    color: var(--accent-second-color);
  }

  .contackt-form-btn {
    padding: 10px 32px;
    min-width: 200px;
    @include font(700, 16px, 30px);
    letter-spacing: 0.06em;
    align-self: center;
    cursor: pointer;
    background: var(--accent-second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--accent-first-color);
    border: transparent;

    &:hover,
    &:focus {
      background-color: #188ce8;
      color: var(--accent-first-color);
    }
  }
}

// .contact-form {
//   display: flex;
//   flex-direction: column;
// }

// .contact-form-header {
//   text-align: center;
//   @include font(700, 20px, 23px);
//   letter-spacing: 0.03em;
//   margin-bottom: 12px;
// }

// .contact-form-field {
//   margin-bottom: 10px;
// }

// .contact-form-field-textarea {
//   margin-bottom: 20px;
// }

// .contact-form-field-key {
//   display: block;
//   @include font(400, 12px, 14px);
//   letter-spacing: 0.01em;
//   color: var(--accent-third-color);
//   margin-bottom: 4px;
// }

// .contact-form-messege {
//   display: block;
//   @include font(400, 12px, 14px);
//   letter-spacing: 0.01em;
// }

// .contact-form-input-wrapper {
//   display: block;
//   position: relative;
// }

// .contact-form-input {
//   width: 100%;
//   height: 40px;
//   padding-left: 42px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;

//   &:focus {
//     outline: none;
//     border-color: var(--accent-second-color);
//     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .contact-form-icon {
//   position: absolute;
//   top: 50%;
//   left: 12px;
//   transform: translateY(-50%);
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .contact-form-input:focus + & {
//     fill: var(--accent-second-color);
//   }
// }

// .contact-form-messege {
//   width: 100%;
//   height: 120px;
//   padding: 12px 16px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   border-radius: 4px;
//   resize: none;

//   &:focus {
//     outline: none;
//     border-color: var(--accent-second-color);
//     transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .contackt-form-checkbox-label {
//   @extend %align;
//   @include font(400, 14px, 24px);
//   letter-spacing: 0.03em;
//   color: var(--accent-third-color);
//   margin-bottom: 30px;

//   &::before {
//     display: block;
//     content: '';
//     width: 16px;
//     height: 15px;
//     border: 2px solid var(--accent-fouhrt-color);
//     border-radius: 2px;
//     margin-right: 8px;
//     cursor: pointer;

//     .contact-form-checkbox:checked + & {
//       background-image: url(../images/form-checkbox/icon_check.svg);
//       background-size: cover;
//       background-position: center;
//       background-repeat: no-repeat;
//     }
//     .contact-form-checkbox:focus + & {
//       outline: solid 1px var(--accent-second-color);
//       border: none;
//     }
//   }
// }

// .contackt-form-link {
//   color: var(--accent-second-color);
// }

// .contackt-form-btn {
//   padding: 10px 32px;
//   min-width: 200px;
//   @include font(700, 16px, 30px);
//   letter-spacing: 0.06em;
//   align-self: center;
//   cursor: pointer;
//   background: var(--accent-second-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   border-radius: 4px;
//   color: var(--accent-first-color);
//   border: transparent;

//   &:hover,
//   &:focus {
//     background-color: #188ce8;
//     color: var(--accent-first-color);
//   }
// }
