:root {
  --accent-first-font-family: 'Roboto', sans-serif;
  --accent-second-font-family: 'Raleway', sans-serif;
  --accent-first-color: #ffffff;
  --accent-second-color: #2196f3;
  --accent-third-color: #757575;
  --accent-fouhrt-color: #212121;
  --accent-fifth-color: #f5f4fa;
  --accent-sixth-color: #afb1b8;
}